<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٤</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٥</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٦</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٧</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٨</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٩</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٠</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١١</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٢</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٣</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٤</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٥</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٦</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٧</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٨</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١٩</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٠</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢١</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٢</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٣</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٤</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٥</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٦</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٧</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٨</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢٩</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٠</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣١</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٢</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٣</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٤</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٥</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٦</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٧</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٨</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣٩</string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٤٠</string>
	</dict>
</array>
</plist>
