<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ١</string>
		<key>image</key>
		<string>الاسبوع ١</string>
		<key>header</key>
		<string>صورة لتطور الجنين خلال علامات الحمل في الاسبوع الأول</string>
		<key>Content</key>
		<string> على الرغم من أنك في طريقك لتصبحي حاملاً، إلا أنك - على ما يبدو - لم تعرفي ذلك بعد، لأنك لست حاملاً بعد.
        
من المعتاد عد أسابيع الحمل منذ اليوم الأول من فترة الحيض الأخيرة. لذلك، في الواقع، فإنك  لا تكونين حاملا بالفعل في الأسبوعين الأولين من الحمل، ولذلك فأنت لا تشعرين بأي شيء. فقط بعد أسبوعين يحدث التبويض، يليه الاخصاب، الذي ينتج عنه الجنين، لذلك فلن تجدي أو تحسي بعلامات الحمل في الأسبوع الأول، لكن علامات الحمل الأولى تبدأ بالظهور في الفترة الأولى من الحمل بطبيعة الحال.
        </string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٢</string>
		<key>image</key>
		<string>الاسبوع ٢</string>
		<key>header</key>
		<string>صورة لتطور الجنين خلال علامات الحمل في الاسبوع الثاني</string>
		<key>Content</key>
		<string> جاء الأسبوع الثاني للحمل ومع كل ما في الأمر من غرابة، فانك لا تزالين غير حامل!

عملية التبويض تحدث في المتوسط مرة واحدة كل 28 يوما حيث تخرج البويضة الناضجة من المبيض وتنتقل، من خلال قناة فالوب، إلى الرحم، حيث تنتظر هناك الخلية المنوية لكي تقوم بإخصابها.

هناك فترة زمنية تمتد لنحو 12 ساعة فقط والتي يمكن فيها حدوث عملية إخصاب البويضة، بحيث انه اذا لم يحدث ذلك، فان البويضة تخرج من الجسم مع بعض الأنسجة والدم، في عملية الحيض.

في المتوسط، فقط في نهاية الأسبوع الثاني تحدث الإباضة ومن ثم الإخصاب، ولذلك فان اختبار الحمل يمكن أن يعطي جوابا ايجابيا فقط بعد ثلاثة أسابيع من اليوم الأخير من الدورة الشهرية.

هل انا حامل بالفعل!

ما العمل؟ حتى الان لم يحدث أي شيء للجنين لأنه، كما ذكرنا، لا يزال غير موجود.

حساب ايام التبويض:

التنبؤ بموعد الإباضة مهم للمرأة التي ترغب في الحمل، وكذلك للمرأة التي تحاول تجنب حدوث الحمل وتستخدم طريقة &quot;الأيام الامنة&quot;.

بما ان الدورات الشهرية يمكن أن تتراوح بين 21 الى 39 يوما، فان موعد التبويض يمكن أن يمتد لفترة زمنية طويلة تصل الى نحو أسبوعين، ابتداء من اليوم السابع من دورة الـ 21 يوما وتنتهي في اليوم الـ 25 من دورة الـ 39 يوما.
        </string>
	</dict>
	<dict>
		<key>WeekNo</key>
		<string>الاسبوع ٣</string>
		<key>image</key>
		<string>الاسبوع ٣</string>
		<key>header</key>
		<string>صورة لتطور الجنين خلال الحمل في الاسبوع الثالث</string>
		<key>Content</key>
		<string> التقى الحيوان المنوي بالبويضة وحدثت عملية الإخصاب أخيرا.

فقط بعد أن تتم العملية التي تسمى بالانغراس، والتي يلتصق فيها الجنين ببطانة الرحم بعد حوالي أسبوع من الإخصاب، من الممكن أن نقول أن الجنين قد بدأ بالتطور في رحمك وأنك أصبحت حاملا حقا.

خلال فترة الانغراس يمكن ظهور افراز دموي خفيف، لكن هدئي من روعك - فان ذلك لا يشير إلى وجود مشكلة.

انت تشعرين ربما بعملية الإباضة، ولكن ليس هناك أي احتمال لأن تشعري بعملية تلقيح البويضة. في هذه الفترة المبكرة، من المستحيل تقريبا الاشارة إلى أي شعور خاص لديك. في فترة ما بعد الانغراس قد تشعرين بالتعب، الضعف، الرغبة في النوم، احتقان الصدر، وغير ذلك.

النساء اللاتي حملن من قبل يعرفن جيدا هذا الشعور، وأحيانا يعرفن أن عملية الانغراس قد حدثت منذ بداية الأسبوع الثالث.

غذاء الحامل في الأسبوع الثالث من الحمل:

من المهم الحفاظ على نظام صحي مناسب للحمل، يتضمن تدريبات اللياقة البدنية وكذلك النظام الغذائي السليم والإكثار من شرب السوائل.

ينبغي الامتناع، بطبيعة الحال، عن التدخين، تناول الكحول والمخدرات، والاستمرار في التقليل من استهلاك الكافيين. بالنسبة للمكملات الغذائية، يوصى بالاستمرار في تناول حمض الفوليك والحديد، ولكن يجب أيضا إضافة البروتين والكالسيوم لإثراء غذاء الجنين وتقويته.

الكالسيوم مهم لبناء عظام سليمة لدى الجنين، لذلك من المهم أن تتناولي منتجات الألبان، الخضروات الخضراء، وما إلى ذلك، بينما يساعد البروتين على إنتاج الأنسجة التي تحمي الجنين أثناء تطوره.
        </string>
	</dict>
</array>
</plist>
